

.count {
  font-size:30px;
}

.sub{
  font-size:20px;
}

.provider{
  height: 40px;
  background-color:#f44336;
  text-align:center;
  color:#fff;
  padding:15px;
}

.lokasitersambung{
  height: 40px;
  background-color:#ff5252;
  text-align:center;
  color:#fff;
  padding:15px;
}

.suara{
  height: 40px;
  background-color:#ff5722;
  text-align:center;
  color:#fff;
  padding:15px;
}

.telpterangkat{
  height: 40px;
  background-color:#e91e63;
  text-align:center;
  color:#fff;
  padding:15px;
}

.app110{
  height: 40px;
  background-color:#9c27b0;
  text-align:center;
  color:#fff;
  padding:15px;
}

.telpid{
  height: 40px;
  background-color:#673ab7;
  text-align:center;
  color:#fff;
  padding:15px;
}

.anmap{
  font-weight: normal;
  height: 40px;
  background-color:#03a9f4;
  text-align:center;
  color:#fff;
  padding:15px;
}

.alokasin{
  height: 40px;
  background-color:#009688;
  text-align:center;
  color:#fff;
  padding:15px;
}

.aksin{
  height: 40px;
  background-color:#43a047;
  text-align:center;
  color:#fff;
  padding:15px;
}

.acms{
  height: 40px;
  background-color:#7cb342;
  text-align:center;
  color:#fff;
  padding:15px;
}

.arec{
  height: 40px;
  background-color:#c0ca33;
  text-align:center;
  color:#fff;
  padding:15px;
}

.hdtable{
  text-align:center;
  background-color:#616161;
  color:#fff;
  padding:10px;
}

.headall{
  height: 40px;
  background-color:#616161;
  text-align:left;
  color:#fff;
  padding:15px;
  font-size:30px;
}

.headcount{
  height: 40px;
  background-color:#ff5722;
  text-align:right;
  color:#fff;
  padding:15px;
  font-size:30px;
}

.headsys{
  height: 40px;
  background-color:#ffc107;
  text-align:center;
  color:#fff;
  padding:15px;
  font-size:30px;
}
